<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="">
          <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="">
          <a routerLink="/heroes">Heroes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
